@use "@/styles/variables" as *;

.card {
  width: 100%;
  max-width: $card-width;
  border-radius: 8px;
  transition: all 0.3s ease;

  h3 {
    font-weight: 600;
  }

  p {
    color: #666;
  }

  &:hover {
    transform: translateY(-4px);
  }
}
